div.col-12.col-md-auto.io-sidebar
    nav.nav.flex-column.text-center.text-md-left.justify-center.justify-md-left
        
        //Commission a Report
        a.btn.btn-primary.btn-sm.com-proj-button(href="#", role="Button") Commission Project
        
        a.nav-item.nav-link(href="/") User Dashboard
        
        // Active Projects
        li.nav-item
            a.dropdown-toggle.nav-link(
                data-toggle="collapse",
                href="#activeProjects",
                role="button",
                aria-expanded="false",
                aria-controls="activeProjects")
                | Active Projects
            div.collapse.show(id="activeProjects")
                a.dropdown-item(href="/project?title=Alpha%20Inc.") Alpha Inc.
                a.dropdown-item(href="/project?title=Beta%20Corp.") Beta Corp.
                a.dropdown-item(href="/project?title=Gamma%20Group") Gamma Group
        
        //Archived Projects    
        li.nav-item
            a.dropdown-toggle.nav-link(
                data-toggle="collapse",
                href="#archivedProjects",
                role="button",
                aria-expanded="false",
                aria-controls="archivedProjects")
                | Archived Projects
            div.collapse(id="archivedProjects")
                a.dropdown-item(href="#") Microsoft
                a.dropdown-item(href="#") Apple
                a.dropdown-item(href="#") Google
        
        
